 body{
    font-family: 'Arima Madurai', cursive;
 }
 .a{
    background-image: url('../img/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    text-align: center;
    padding:200px; 
    color: white;
}
p{
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    padding-top: 60px;
}
.a img:last-child{
    padding: 170px;+
}
h2{
text-align: center;
}
.b{
    text-align: center;
    
}
* .c{
    background-image: url('../img/s_image.jpg');
    background-size: cover;
    height: 250px;
    text-align: center;
    color: white;
    padding: 100px;
} 
.d{
    text-align: center;
    height: 250px;
}
.col-space{
    margin-top:20px;
    margin-bottom:20px;


}
.f{
    background-image: url('../img/c_image.jpg');
    background-size: cover;
    height:500px;
}
#transparent {
    background-color: transparent;
}
textarea {
    width: 100%;
    height: 200px;
    color: white;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical ;
   }
 #jambo ::placeholder {
    color: white;
}
   #jambo input{
    color: white;
    background-color: transparent;
   }
   .icon{
       padding: 20px;
   }
   .design-a,.develop-a,.prod-a{
       display: none;
}
.project{
width: 320px;
height: 270px;
background-color:white;
z-index: 1;
opacity: 0.2;
position: absolute;
top: 0.0em;
display:none;
color:black;
font-size: 20px;
}
.project2{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
}
.project3{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.4;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
 .project4{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project5{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project6{
     width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project7{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project8{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .foot{
    text-align: center;
    }
    #p1 {
    margin-top: 30%;
    }